{% extends "shared/base.html" %}

{% block content %}
  <h2>Manage Labour Types</h2>
  <form method="POST" action="{{ url_for('farmer_bp.manage_labour') }}">
    {{ form.hidden_tag() }}
    <div>
      {{ form.labour_type.label }}<br>
      {{ form.labour_type(size=32) }}
    </div>
    <div>
      {{ form.rate.label }}<br>
      {{ form.rate() }}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>

  <h3>Existing Labour Types</h3>
  <ul>
    {% for labour in labours %}
      <li>{{ labour.type }}: {{ labour.rate }}</li>
    {% endfor %}
  </ul>
{% endblock %}
